{% include 'header.html' %}

<h1>Test Twig File</h1>
<p>Name: {{ name }} </p>
<form>
<input type="text" id="helloInput"></input>
<button type="button" id="helloButton">Push Me</button>
</form>
<p id="helloStuff"></p>